<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>PathNotifier debug console</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      #map_canvas {
        height: 100%;
      }

      @media print {
        html, body {
          height: auto;
        }

        #map_canvas {
          height: 650px;
        }
      }
    </style>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
      var map;
      var center = new google.maps.LatLng(<%= @last_location.location[:lat] %>,<%= @last_location.location[:lng] %>);

      function get_random_color() {
        var letters = '0123456789ABCDEF'.split('');
        var color = '#';
        for (var i = 0; i < 6; i++ ) {
          color += letters[Math.round(Math.random() * 15)];
        }
        return color;
      }


      function loadTracks() {
        $.getJSON('/tracks.json', function(tracks) {
          var track;
          for (var track in tracks) {
            if (tracks[track].length < 10) { 
              continue;
            };

            var trackCoords = [];

            for (var coordIdx in tracks[track]) {
              trackCoords.push(new google.maps.LatLng(tracks[track][coordIdx].location.lat, tracks[track][coordIdx].location.lng));
            };

            track = new google.maps.Polyline({
              path: trackCoords,
              clickable: false,
              strokeColor: get_random_color(),
              strokeOpacity: 1.0,
              strokeWeight: 3,
              map: map
            });
          };
        });
      };

      function loadPOIs() {
        $.getJSON('/pois.json', function(pois) {
          for (var idx in pois) {
            var poi = new google.maps.Circle({
              strokeWeight: 0,
              fillColor: "#FF0000",
              fillOpacity: 0.01,
              map: map,
              center: new google.maps.LatLng(pois[idx].location.lat, pois[idx].location.lng),
              radius: 50
            });   
          };
        });
      };

      function loadPlaces() {
        $.getJSON('/places.json', function(places) {
          for (var idx in places) {
            var place = new google.maps.Marker({
              position: new google.maps.LatLng(places[idx].location.lat, places[idx].location.lng),
              map: map,
              title: places[idx]._id
            });   
            var placeRadius = new google.maps.Circle({
              strokeColor: "#00FF00",
              strokeOpacity: 0.8,
              strokeWeight: 1,
              fillColor: "#00FF00",
              fillOpacity: 0.25,
              map: map,
              center: new google.maps.LatLng(places[idx].location.lat, places[idx].location.lng),
              radius: 100
            });   
          };
        });
      };

      function loadRoutes() {
        $.getJSON('/routes.json', function(routes) {
          var route;
          for (var idx in routes) {
            var routeCoords = [];

            var source = routes[idx].source;
            var destination = routes[idx].destination;

            routeCoords.push(new google.maps.LatLng(source.location.lat, source.location.lng));
            routeCoords.push(new google.maps.LatLng(destination.location.lat, destination.location.lng));

            route = new google.maps.Polyline({
              path: routeCoords,
              clickable: false,
              strokeColor: "#FF0000",
              strokeOpacity: 0.8,
              strokeWeight: 2* routes[idx].occurances,
              map: map
            });
          };
        });
      };

      function initialize() {
        var myOptions = {
          zoom: 15,
          center: center,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }

        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

      }

      $(function() {
        initialize();
        loadTracks();
        loadPOIs();
        loadPlaces();
        loadRoutes();
      });
    </script>
  </head>
  <body>
    <div id="map_canvas"></div>
  </body>
</html>

